model.h5 filter=lfs diff=lfs merge=lfs -text
model.json filter=lfs diff=lfs merge=lfs -text
udacity-sdc-udacity-self-driving-car-simulator-dominique-development-linux-desktop-64-bit-5.zip filter=lfs diff=lfs merge=lfs -text
